/* Set the background color of the page */
body {
  background-color: #f9f8f8;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

nav {
  background-color: #363232;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  display: block;
  padding: 30px;
  text-decoration: none;
  color: #ffff;
  mix-blend-mode: normal;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}



/* Style the result boxes */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 120vh;
  transform: translate(29%,20%);
}

.result {
  position: relative;
  width: 800px;
  height: 150px;
  background-color: #fff;
  border: 3px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(97px, -10px);
}

.bio {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100px, 30px);
  width: calc(100% - 200px); /* adjust the width as needed */
  word-wrap: break-word;
}



.result:hover {
  border-color: #0d6ad7;
}

/* Change the background color of the box when pressed */
.result:active {
  background-color: #ccc;
}

.search-box {
  justify-content: center;
  position: relative;
  top: 120px;
  transform: translateX(74%);
  align-items: center;
  border-radius: 0 20px 20px 0;
  height: 40px;
  width: 585px;
}


.search-box input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px 45px 10px 20px;
  border-radius: 20px;
  background-color: #eee;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.search-box button[type="submit"] {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translateX(175%);
  height: 150%;
  width: 130px;
  border-radius: 20px 20px 20px 20px;
  background-color: #0d6ad7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.filter-container {
  flex-basis: 25%;
position: absolute;
transform: translate(80%,20%);
display: flex;
flex-direction: column;
gap: 20px;
}

.filter-header h2 {
font-weight: normal;
margin-top: -10px;
}

.location ul {
list-style: none;
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}


.sliders_control {
  position: relative;
  min-height: 50px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 700px;
    margin-bottom: 50px;
    border: 4px solid #ccc;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a.nav-link:link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active {
    color: inherit;
    text-decoration: none;
}

.popup-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  animation-name: fade-in-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes fade-in-out {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
