<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    console.log('{{ interests }}');
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find My Tutor</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <div class="image1">
      <img src="static/tutor.jpg" alt="Your Image">
    </div>
    <div class="wrapper">
      <div class="registration_form">
        <form method="post" enctype="multipart/form-data">
          <div class="form_wrap">
            <h2>Edit your Profile</h2>
            <div class="input_grp">
              <div class="input_wrap">
                <label for="fname">First Name</label>
                <input type="text" name="fname" value="{{ student['fullname'].split()[0] }}">
              </div>
              <div class="input_wrap">
                <label for="lname">Last Name</label>
                <input type="text" name="lname"  value="{{ student['fullname'].split()[1] }}">
              </div>
            </div>
            <div class="input_wrap">
              <label for="password">Password</label>
              <input type="password" name="password"  value="{{ student['password'] }}" placeholder="password">
            </div>
            <div class="input_wrap">
              <label for="gender">Gender</label>
              <input type="text" name="gender"  value="{{ student['gender'] }}">
            </div>
            <div class="input_grp">
              <div class="input_wrap">
                <label for="age">Age</label>
                <input type="number" name="age" min="0"  value="{{ student['age'] }}">
              </div>
              <div class="input_wrap" style="margin-left: 10px;">
                <label for="contact">Contact</label>
                <input type="tel" name="contact"  value="{{ student['contact'] }}">
              </div>
            </div>
            <div class="input_wrap">
              <label for="languages">Languages</label>
              <select name="languages" multiple>
                <option value="English" {% if 'English' in student['languages'] %}selected{% endif %}>English</option>
                <option value="Spanish" {% if 'Spanish' in student['languages'] %}selected{% endif %}>Spanish</option>
                <option value="French" {% if 'French' in student['languages'] %}selected{% endif %}>French</option>
                <option value="German" {% if 'German' in student['languages'] %}selected{% endif %}>German</option>
                <option value="Chinese" {% if 'Chinese' in student['languages'] %}selected{% endif %}>Chinese</option>
                <!-- Add more language options here -->
              </select>
            </div>
            <div class="input_wrap">
              <label for="interests">Here are our given subjects</label>
              <select name="interests" multiple>
                {% for interest in all_interests %}
                  <option value="{{ interest }}" {% if interest in student['interests'] %}selected{% endif %}>{{ interest }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input_wrap">
              <label for="image">Image</label>
              <input type="file" name="image">
            </div>
            <div class="input_wrap">
              <input type="submit" value="Submit Changes" class="submit_btn">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
