<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find My Tutor</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <div class="image1">
      <img src="static/login.jpg" alt="Your Image">
    </div>
    <div class="wrapper">
      <div class="registration_form">
        <form method="post" enctype="multipart/form-data">
          <div class="form_wrap">
            <h2>Please enter your credentials</h2>
            <div class="input_wrap">
              <label for="email">Email Address</label>
              <input type="text" name="email">
            </div>
            <div class="input_wrap">
              <label for="password">Password</label>
              <input type="password" name="password">
            </div>     
            <div class="input_wrap">
              <input type="submit" value="Login Now" class="submit_btn">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
